/*------------------------ GLOBAL ----------------------*/
body{
    font-family: Montserrat;
}

/*------------------------ NAVBAR ----------------------*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0% 20% 0% 20%;
    color: white;
    background-color: #2C3E50;
}
nav>div:first-of-type{
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
}
nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
nav ul li a {
    margin-left: 3%;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

/*---------------------- SECTIONINTRO -------------------*/
#Intro{
    padding:10% 20% 10% 20%;
    color: white;
    background-color: #DC3545;
}
#Intro img{
    height:30vh;
}
#Intro div{
    display: row;
    text-align: center;
}
h1{
    line-height: 0%;
    font-size: 250%;
    text-transform: uppercase;
}